.todo-app{
  width: 55%;
  margin: auto;
}
.todo-app h1{
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
}
form{
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
form input{
  width: 80%;
  padding: 1rem;
  outline: 0;
  border: 3px solid #000;
  border-radius: 7px;
}
form button{
  width: 18%;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  border: 3px solid #000;
}
.todo-list{
  margin-top: 3.5rem;
}
.todo-list li{
  list-style-type: none;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-list li.active{
  background-color: rgb(0, 126, 0);
}
.todo-list li span{
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
.todo-list li span:hover{
  color: rgb(255, 28, 28);
}